@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Text+Me+One&display=swap");

body {
  font-family: "Noto Serif", serif;
  background-color: #fefdef;
  color: #6b676e;
}

.main-container {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  background-color: white;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}

.container-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 20vw;
  border-top: 1px solid rgba(0, 0, 0, 0.065);
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  border: 1px solid #ccc;
}

input,
.ql-editor {
  padding: 4px;
  font-size: 14px;
}

#editor {
  height: 130px;
}
