#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 5vh;
}

.sign-up-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.sign-up-form label {
  font-size: 1rem;
}

.sign-up-form input {
  width: 100%;
}

.passwords-match {
  padding: 0.25rem;
  background-color: rgb(3, 91, 0);
  font-size: 0.6rem;
  font-weight: 800;
}
.passwords-no-match {
  padding: 0.25rem;
  background-color: rgb(103, 0, 0);
  font-size: 0.6rem;
  font-weight: 800;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.post-tile {
  padding: 1rem;
  border: 1px solid black;
}

.post-tags {
  display: flex;
  gap: 1rem;
}

.tag {
  padding: 0.1rem 0.4rem;
  background-color: white;
  border-radius: 1rem;
  color: black;
  font-size: 0.6rem;
  font-weight: 600;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  border: 1px solid #ccc;
}

input,
.ql-editor {
  padding: 4px;
  font-size: 14px;
}

#editor {
  height: 130px;
}
